name: glamourous
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  get: ^4.7.3
  google_sign_in: ^7.2.0
  http: ^1.6.0
  image_picker: ^1.2.1
  supabase_flutter: ^2.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/env/.env
